:root {
    --default-gap: 20px;
}

/* layout */
* {
    margin: 0;
    padding: 0;
}

body > div.my-modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.my-modal > .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body > div.content {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.game-content {
    flex: 1;
}

.header,
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--default-gap);
}

.footer {
    gap: 10px;
    padding: 5px 0;
}

.header > div {
    width: clamp(200px, 100%, 900px);
    display: flex;
    justify-content: space-between;
}

.game-content {
    align-self: center;
    padding: var(--default-gap);
    width: min(90%, 900px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: var(--default-gap);
    align-items: center;
    overflow-y: auto;
}

.game-content .game-status {
    flex-basis: 20%;
    padding: var(--default-gap);
    display: flex;
    align-items: center;
}

#game-board {
    flex: none;
    aspect-ratio: 1/1;
    width: 90%;
    height: auto;
    align-self: center;
    vertical-align: middle;
    margin-bottom: var(--default-gap);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: var(--default-gap)
}

#game-board div {
    flex: 1;
    display: flex;
    justify-content: space-around;
    gap: var(--default-gap);
}

button {
    flex: 1;
}

@media only screen and (min-width: 900px) {
    #game-board {
        flex: 1;
        width: auto;
    }
}

/* toggles */
.inactive-screen {
    opacity: 0;
    pointer-events: none;
}

/* styles */
.my-modal {
    background-color: steelblue;
}


.header {
    background-color:wheat;
}

.footer  {
    background-color: gray;
}