@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Roboto&display=swap');


:root {
    --default-gap: 20px;
    --theme-white: #fdfffc;
    --theme-black: #363636;
    --color1: #2EC4B6;
    --color2: #4A8FE7
}

/* layout */
* {
    margin: 0;
    padding: 0;
    /* border: solid 1px rebeccapurple  */
}
 
body > div.my-modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.my-modal > .modal-content {
    width: clamp(270px, 80%, 1000px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    gap:var(--default-gap);
    align-items: center;
}

.modal-content > .form-row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body > div.content {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header,
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--default-gap);
}

.footer {
    gap: 10px;
    padding: 5px 0;
}

.header > div {
    width: clamp(200px, 100%, 900px);
    display: flex;
    justify-content: space-between;
}

.game-content {
    flex: 1;
    align-self: center;
    padding: var(--default-gap);
    width: min(80%, 900px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--default-gap);
    align-items: center;
    overflow-y: auto;
}

.game-content .game-status {
    flex: 0 1 10%;
    padding: var(--default-gap);
    display: flex;
    align-items: center;
}

#game-board {
    flex: none;
    aspect-ratio: 1/1;
    width: 90%;
    height: auto;
    align-self: center;
    vertical-align: middle;
    margin-bottom: var(--default-gap);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: var(--default-gap);
}

#game-board div {
    flex: 1;
    display: flex;
    justify-content: space-around;
    gap: var(--default-gap);
}

button {
    flex: 1;
}

@media only screen and (min-width: 900px) {
}

/* toggles */
.inactive-screen {
    opacity: 0;
    pointer-events: none;
}

/* styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--theme-white);
    color: var(--theme-black);
}

.my-modal {
    background-color: steelblue;
}

.header,
form > div:first-child {
    font-size: 2.2rem;
    font-weight: bold;
    font-family: 'Gochi Hand', cursive;
}

.footer {
    background-color: var(--theme-black);
    color: var(--theme-white);
}

button {
    border: none;
    background-color: #eee;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

button:hover {
    background-color: #ddd;
}

.game-status {
    font-size: 1.8em;
    font-weight: bold; 
    transition: 0.5s ease-in-out;
}

.card-img {
    height: 100%;
    width: auto;
    filter: invert(1);
}

.footer.icon > img {
    height: 40px;
    width: auto;
}

/* google material icons */
.material-icons.md-dark {
    font-size: 40px;
    color: rgba(0, 0, 0, 0.26); 
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.logo,
.material-icons.md-dark:hover { 
    color: var(--theme-black);
    cursor: pointer;
    transition: 0.5s ease-in-out;
 }

 /* modal style */
.my-modal {
    background-color: var(--theme-white);
}

form {
    font-size: 1.5em;
}

.form-row > label > img {
    height: 200px;
    filter: invert(1);
}

.form-row > label[for='player-name1'] {
    background-color: var(--color1);
}

.form-row > label[for='player-name2'] {
    background-color: var(--color2);
}

.modal-content > button {
    padding: 10px;
    font-size: 0.8em;
    width: 200px;
    background-color: var(--theme-black);
    color: var(--theme-white);
}

.modal-content > button:hover {
    background-color: #525252;
}

.form-row > input {
    width: 200px;
    height: 30px;
    border: solid 1px #eee;
    text-align: center;
    padding: 5px 0;
    font-size: 20px;
}